name: Weather Enrichment

on:
  #schedule:
    # 08:30 UTC
    #- cron: "30 8 * * *"
    # 20:30 UTC
   # - cron: "30 20 * * *"
  workflow_dispatch:

jobs:
  weather:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run weather enrichment
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_SERVICE_KEY: ${{ secrets.SUPABASE_SERVICE_KEY }}
        run: |
          python weather/weather.py
